@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --cor-branco: #ffffff;
  --cor1: #F5EBEB;
  --cor2: #E4D0D0;
  --cor3: #D5B4B4;
  --cor4: #867070;
  --cor-fundo-indisponivel: #6e6b6b;
  --cor-fundo-disponivel: #6e866e;
  --cor-preto: #000000;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--cor-branco);
  font-family: "Atkinson Hyperlegible Mono", serif;
}

header {
  text-align: center;
  border-bottom: 2px solid var(--cor4);
  background-image: linear-gradient(to right, var(), transparent, var(--cor3));
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.479);
}

.header-logo {
  max-width: 180px;
}

nav {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid var(--cor4);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.479);

}

nav > a {
  text-decoration: none;
  color: var(--cor4);
  font-size: 1.3em;
  padding: 10px;
  font-weight: 400;
}

nav a:hover {
  background-color: var(--cor4);
  color: var(--cor1);
  border-radius: 5px;
}

.div-lpbeauty {
  display: none;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: var(--cor1);
  border-bottom: 2px solid var(--cor4);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.479);
}

.img-lpbeauty {
  width: 100%;
  margin-top: 20px;
  max-width: 1900px;
}

.titulo-destaques {
  margin: auto;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to right, var(--cor3), transparent, var(--cor3));
  color: var(--cor4);
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('../img/elegant_gold_hand_painted_alcohol_ink_background_design_2801.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.produto {
  max-width: 300px;
  min-width: 200px;
  width: 20%;
  text-align: center; 
  margin: 10px;
  
}
.produto-img {
  width: 97%;
  margin: auto;
  border-image: 1px var(--cor4);
  border-radius: 50%;
}
.produto-nome {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 5px;
}
.produto-preco {
  font-size: 1.3em;
  font-weight: 600;
}
.produto-status {
  background-color: var(--cor-fundo-disponivel);
  color: var(--cor-branco);
  border-radius: 20px;
  font-size: 1em;
  font-weight: 600;
  padding: 10px;
  width: 95%;
} 

.produto-status-no {
  background-color: var(--cor-fundo-indisponivel);
  color: var(--cor-branco);
  border-radius: 20px;
  font-size: 1em;
  font-weight: 600;
  padding: 10px;
  width: 95%;
}

.produto-status:hover {
  background-color: var(--cor3);
  color: #6e866e;
}

.status-indisponivel{
  background-color: var(--cor-fundo-indisponivel);
  color: var(--cor-branco);
  border-radius: 20px;
  font-size: 1em;
  font-weight: 600;
  padding: 10px;
  width: 95%;
}

.produto-status-no:hover {
  background-color: var(--cor3);
  color: #6e866e;
}


footer {
  background-color: var(--cor4);
  color: var(--cor1);
  padding: 10px;
  text-align: center;
  font-size: 1em;
  margin-top: 20px;
}